<nav id="menu">
                  <ul>
                        <li>
                        <a [routerLink]="['/home']">principal</a>
                        </li>
                        <li>
                        <a [routerLink]="['/pagina']">pagina</a>
                        </li>
                        <li>
                        <a [routerLink]="['/formulario']">formulario</a>
                        </li>
                        <li>
                        <a [routerLink]="['/contacto']">contacto</a>
                        </li>
                  </ul>
            </nav>
